# Code Along in Python: Power Generation Table

## Start

Setting up.

In [1]:
import pandas as pd
from great_tables import GT, md

Importing the data.

In [2]:
power_generation = pd.read_csv("../data/power-generation.csv")

power_generation

,Zone,CO2 Intensity,Hydro,Nuclear,Wind,Solar,Geothermal,Biomass,Gas,Coal,Oil,Unknown,Hydro Discharge,Battery Discharge
0,Sweden,23.461285,0.435313,0.291741,0.213598,0.009052,0.000000e+00,1.934943e-03,0.001617,0.002284,1.200000e-04,0.044002,3.370000e-04,0.000000e+00
1,Iceland,27.641530,0.724137,0.000000,0.000000,0.000000,2.758640e-01,0.000000e+00,0.000000,0.000000,1.790000e-06,0.000000,0.000000e+00,0.000000e+00
2,Quebec,30.569909,0.914573,0.009331,0.047134,0.000097,1.840000e-06,2.501500e-02,0.003837,0.000011,1.290000e-05,0.000079,0.000000e+00,4.370000e-08
3,France,52.734328,0.105180,0.642434,0.104648,0.048092,3.520000e-06,1.408851e-02,0.065821,0.004739,3.454775e-03,0.000681,1.086018e-02,0.000000e+00
4,Ontario,72.600783,0.260362,0.518587,0.080441,0.004532,0.000000e+00,2.384341e-03,0.133519,0.000155,2.820000e-07,0.000024,0.000000e+00,0.000000e+00
5,Finland,87.228318,0.246151,0.408646,0.186382,0.007825,0.000000e+00,6.617424e-02,0.022113,0.052003,1.000000e-04,0.010583,1.920000e-05,0.000000e+00
6,Tasmania,92.189027,0.663217,0.000000,0.192217,0.057844,0.000000e+00,0.000000e+00,0.005585,0.080626,0.000000e+00,0.000000,0.000000e+00,1.330000e-04
7,New Zealand,94.505645,0.627583,0.000006,0.073994,0.000025,1.815487e-01,0.000000e+00,0.061119,0.035517,2.770000e-05,0.020245,0.000000e+00,0.000000e+00
8,Belgium,139.560545,0.013668,0.419910,0.197723,0.098437,7.210000e-07,3.296568e-02,0.186617,0.014573,1.045043e-03,0.020572,1.447688e-02,0.000000e+00
9,West Denmark,143.138041,0.181489,0.041430,0.467776,0.080510,7.100000e-06,7.464462e-02,0.059222,0.081831,4.474977e-03,0.005635,3.076031e-03,0.000000e+00
10,East Denmark,147.628659,0.131248,0.104716,0.406830,0.065438,0.000000e+00,1.435537e-01,0.042024,0.071744,1.168400e-02,0.022129,9.220000e-04,0.000000e+00
11,Spain,154.014254,0.099699,0.227273,0.237562,0.150135,2.390000e-07,2.124706e-02,0.217966,0.015789,1.904201e-03,0.003164,2.526519e-02,0.000000e+00
12,South Australia,185.762791,0.010199,0.000000,0.449962,0.245425,0.000000e+00,0.000000e+00,0.218231,0.069856,9.570000e-04,0.000000,0.000000e+00,5.213381e-03
13,Great Britain,199.810479,0.045834,0.181239,0.301926,0.059608,4.570000e-08,5.082923e-02,0.332150,0.012325,3.440000e-04,0.009736,5.980374e-03,0.000000e+00
14,California,257.678732,0.123989,0.100043,0.096419,0.170551,3.116450e-02,1.747819e-02,0.419709,0.012129,1.020000e-04,0.008942,2.830000e-04,1.919192e-02
15,Netherlands,272.809179,0.030187,0.048567,0.315754,0.167656,1.340000e-05,5.002133e-02,0.276796,0.090373,8.306204e-03,0.010582,1.761264e-03,0.000000e+00
16,New York ISO,279.992946,0.225945,0.226560,0.039417,0.000715,0.000000e+00,1.091576e-03,0.482746,0.005538,1.230000e-04,0.017781,3.470000e-06,7.120000e-06
17,Italy (North),307.255854,0.244615,0.119192,0.029255,0.069372,3.271406e-03,2.162410e-02,0.370343,0.025889,1.570806e-03,0.086539,2.832591e-02,1.250000e-07
18,Texas,383.186757,0.000828,0.090770,0.251577,0.071637,0.000000e+00,5.820000e-07,0.444371,0.138212,3.560000e-06,0.002600,0.000000e+00,0.000000e+00
19,Germany,396.787071,0.059247,0.043123,0.290546,0.117499,3.770000e-04,9.629165e-02,0.113310,0.244770,4.814370e-03,0.007452,2.256939e-02,0.000000e+00
20,Western Australia,433.294540,0.000000,0.000000,0.155241,0.191426,0.000000e+00,4.275849e-03,0.350976,0.297091,3.160000e-04,0.000000,0.000000e+00,6.640000e-04
21,Alberta,438.944216,0.029250,0.000404,0.113897,0.026667,0.000000e+00,2.640214e-02,0.675430,0.081167,3.290000e-04,0.046434,1.550000e-07,0.000000e+00
22,Victoria,506.404819,0.062480,0.000000,0.205929,0.127015,0.000000e+00,1.000000e-05,0.014187,0.588000,4.050000e-06,0.000000,2.110000e-08,2.494507e-03
23,New South Wales,556.312457,0.048673,0.000000,0.092353,0.195595,0.000000e+00,1.073667e-03,0.021792,0.639718,5.830000e-05,0.000000,1.170000e-06,6.620000e-04
24,India (North),558.241021,0.212228,0.021765,0.015379,0.077375,9.830000e-08,5.500000e-07,0.018730,0.642839,9.360000e-07,0.011682,0.000000e+00,0.000000e+00
25,Queensland,607.034892,0.020918,0.000000,0.040105,0.197967,0.000000e+00,2.442345e-03,0.067024,0.670511,3.140000e-04,0.000000,1.440000e-06,7.890000e-04
26,South Africa,700.998074,0.009413,0.042068,0.057471,0.031996,0.000000e+00,0.000000e+00,0.000079,0.809385,2.557985e-02,0.001313,2.269599e-02,0.000000e+00

Let's get the data into Great Tables.

In [ ]:
gt_tbl_1 = GT(power_generation)

gt_tbl_1

## tab_source_note() and cols_width()

Add a title to the table to explain contents. Use this title:

"2023 Mean Carbon Intensity (gCO2eq/kWh) and Power Consumption Breakdown (%)"

and make sure 'Carbon Intensity' and 'Power Consumption' are in bold lettering.

In [ ]:
gt_tbl_2 = (
    gt_tbl_1
    .tab_header(
        title=md("2023 Mean **Carbon Intensity** (gCO2eq/kWh) and **Power Consumption** Breakdown (%)")
    )
)

gt_tbl_2

Add some explanations to the footer of the table (to further explain things).
Provide the data source (`api.electricitymap.org`) and the methodology (linking 
to `https://www.electricitymaps.com/methodology`). Also state that some
emissions factors are based on IPCC 2014 defaults, while some are based on
more accurate regional factors.

In [ ]:
gt_tbl_3 = (
    gt_tbl_2
    .tab_source_note(
        md(
            '<br><div style="text-align: left;">'
            "**Source**: api.electricitymap.org" 
            " | **Methodology**: https://www.electricitymaps.com/methodology." 
            " Some emissions factors are based on IPCC 2014 defaults, while some are based on more accurate regional factors."
            "<br>All zones are publicly available on the *Carbon intensity and emission factors* tab via Google docs link<br>"
            "</div>"
            "<br>"
        )
    )
)

gt_tbl_3

Make the width of the `Zone` column 120px. All other columns fixed at 85px.

In [ ]:
gt_tbl_4 = (
    gt_tbl_3
    .cols_width(
        {
            "Zone": "120px",
            "CO2 Intensity": "85px",
            "Hydro": "85px",
            "Nuclear": "85px",
            "Wind": "85px",
            "Solar": "85px",
            "Geothermal": "85px",
            "Biomass": "85px",
            "Gas": "85px",
            "Coal": "85px",
            "Oil": "85px",
            "Unknown": "85px",
            "Hydro Discharge": "85px",
            "Battery Discharge": "85px"
        }
    ) 
)

gt_tbl_4

## Formatting Values Within the Table Body

Format the fractional values by turning them into percentages.

In [ ]:
gt_tbl_5 = (
    gt_tbl_4
    .fmt_percent(
        columns=[
            "Hydro", "Nuclear", "Wind", "Solar", "Geothermal",
            "Biomass", "Gas", "Coal", "Oil", "Unknown",
            "Hydro Discharge", "Battery Discharge"
        ],
        decimals=1
    )
)

gt_tbl_5

Ensure that the `CO2 Intensity` values are formatted as integers.

In [ ]:
gt_tbl_6 = gt_tbl_5.fmt_integer(columns="CO2 Intensity")

gt_tbl_6

## data_color()

Color the cells in the `CO2 Intensity` column according to value (in range of 0 to 900). Use the green to brown palette.

In [ ]:
gt_tbl_7 = (
    gt_tbl_6
    .data_color(
        columns="CO2 Intensity",
        palette=[
            "#00A600", "#E6E600", "#E8C32E",
            "#D69C4E", "#Dc863B", "sienna",
            "sienna4", "tomato4", "brown"
        ],
        domain=[0, 900]
    )
)

gt_tbl_7

Color the cells in the `Hydro` to `Geothermal` columns according to value (in range of 0 to 1). Use the white to green palette.

In [ ]:
gt_tbl_8 = (
    gt_tbl_7
    .data_color(
        columns=["Hydro", "Nuclear", "Wind", "Solar", "Geothermal"],
        palette=["#00A600", "chartreuse3", "chartreuse4", "snow"][::-1],
        domain=[0, 1]
    )
)

gt_tbl_8

Color the cells in the `Biomass` column according to value (in range of 0 to 0.3). Use the white to light-brown palette.

In [ ]:
gt_tbl_9 = (
    gt_tbl_8
    .data_color(
        columns="Biomass",
        palette=["snow", "#EEC900", "#E8C32E", "#D69C4E"],
        domain=[0, 0.3]
    )
)

gt_tbl_9

Color the cells in the `Gas` to `Oil` columns according to value (in range of 0 to 1). Use the white to dark-brown palette.

In [ ]:
gt_tbl_10 = (
    gt_tbl_9
    .data_color(
        columns=["Gas", "Coal", "Oil"],
        palette=["tomato4", "sienna4", "#D69C4E", "#Dc863B", "snow"][::-1],
        domain=[0, 1]
    )
)

gt_tbl_10

Ensure the remaining body cells have the 'snow' color applied.

In [ ]:
gt_tbl_11 = (
    gt_tbl_10
    .data_color(
        columns=[
            "Zone", "Unknown", "Hydro Discharge", "Battery Discharge"
        ],
        palette=["snow", "snow", "snow", "snow"]
    )
)

gt_tbl_11

## cols_align() and tab_options()

As a starting point, align all cell contents (and the column labels) with center alignment.

In [ ]:
gt_tbl_12 = gt_tbl_11.cols_align(align="center")

gt_tbl_12

As a tweak, align the `Zone` column to the left.

In [ ]:
gt_tbl_13 = gt_tbl_12.cols_align(align="left", columns="Zone")

gt_tbl_13

Use the 'humanist' font stack for this table.

In [ ]:
gt_tbl_14 = gt_tbl_13.opt_table_font(stack="humanist")

gt_tbl_14

Make some serious tweaks to the table with `tab_options()`.

In [ ]:
gt_tbl_15 = (
    gt_tbl_14
    .tab_options(
        source_notes_font_size="x-small",
        source_notes_padding="3px",
        data_row_padding="1px",
        heading_background_color="antiquewhite",
        source_notes_background_color="antiquewhite",
        column_labels_background_color="antiquewhite",
        table_background_color="snow",
        data_row_padding_horizontal="3px",
        column_labels_padding_horizontal="10px"
    )
)

gt_tbl_15